.z10 {
  z-index: 10;
}
.z20 {
  z-index: 20;
}
.bg-sub1 {
  background-image: url("./image/cat1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-sub2 {
  background-image: url("./image/cat4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-sub3 {
  background-image: url("./image/topper5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mb5 {
  margin-bottom: 5% !important;
  margin-top: 5% !important;
}

@media screen and (max-width: 850px) {
  .landing__image__container {
    display: none;
  }
}
